/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


.content{
    width: 800px;
    margin: 0 auto;
}

.clear{
    float: none;
    clear: both;
}

a:hover,
a:active{
    color: #FC7400 !important;
}

.button:hover{
    color: #fff !important;
}

select {
    font-size: 14px;
    padding: 4px 0;
}

/* WARNINGS */

.red{
    color: red;
}

/* HEADER */

.logo{
    height: 160px;
    width: 157px;
    margin: 8px 0 0 10px;
    background-image: url(logo.png);
    background-position: left;
    background-repeat: no-repeat;
    float: left;
}

.header{
    background-image: url(header_back.png);
    background-repeat: repeat-x;
    background-position: 0 32px;
    float: left;
    width: 100%;
}

.moto{
    font-style: italic;
    font-size: 24px;
    padding: 39px 0 0 25px;
    float: left;
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
}

.top-bar{
    padding: 8px 10px;
    float: left;
    width: 630px;
    background: transparent !important;
    margin: 10px 0 0 0 !important;
}

.top-bar .name {
    float: left;
    margin: 0 15px !important;
}

 /* CONTENT AREA */
 /*============================================*/
 
 /* Login form */
 
.new_user{
    width: 300px;
}

.login_table{
    width: 100%;    
}

.login_table td{
    vertical-align: top;
    width: 50%;
    padding: 20px;
}

#user_remember_me{
    margin: 0 10px 10px 0 !important;
}

.signup_table{
    border: none !important;
    width: 100%;
}

.signup_table td{
    width: 50%;
    height: 60px;
    padding: 10px;
}

.signup_table td .button{
    margin-bottom: 0 !important;
}

.signup_table td.left{
    text-align: left;
}

.signup_table td.right{
    text-align: right;
    padding-top: 20px;
    font-size: 18px;
}

/* Create new Item FORM */
 
.add_item_form{
    width: 200px !important;
}
 
 /* Content elements */

.main_block{
    padding: 0 20px;
}

h1,
h2,
h3
{
    color: #4193B5 !important;
}

.creator_email{
    font-size: 12px;
    color: #777;
    font-style: italic;
}

.lists_table .list_name{
    min-width: 300px;
}

thead th{
    color: #777 !important;
}

.show_items_table_td_left h1{
    margin: 0;
}

p.list_info{
    color: #777;
    padding: 0;
    margin: 10px 0 0 0;
}

p.creator_email{
    margin: 0;
    padding: 0;
}

.show_items_table_td_left table.action_table{
    width: 27px !important;
    float: right;
    border: none;
}

td.action_td{
    height:20px;
    width: 20px;
}

.action_table tr td{
    background-color: #fff;
}

.action_table tr td.action_td{
    padding:0 0 3px 0;
}

.list_title_table
{
    margin-top: 30px;
}


.list_title_table td{
    padding: 0 !important;
}

.list_title_table h1{
    margin: 0 !important;
    padding:0 0 0 10px !important;

}

.list_title_table td.action_td{
    background-color: #fff;
    padding: 3px !important;
}

.show_items_table{
    width: 100%;
    border: none !important;
}

.show_items_table tr td{
    vertical-align: top;
}

.show_items_table_td_right{
    width: 210px;
    padding-left: 25px;
}

td.show_items_table_td_left{
    width: 490px;
}

.show_items_table_td_left table{
    width: 495px;
}

.show_items_table_td_left table td.product_title_td{
    width: 230px;
}


/* BUTTONS  &  ICONS */

.secondary, .secondary:hover {
    color: #777 !important;
}

.alert{
    background-color: #FF7578 !important;
    margin-left: 10px !important;
}

.alert:hover{
    background-color: #FC4E52 !important;
}

.secondary{
    margin-left: 10px !important;  
}

a.link_to_del{
    background-image: url(icon_delete.png);
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    width: 20px;
    height: 20px;
}

a.link_to_del:hover{
    background-image: url(icon_delete_hover.png);
}

a.link_to_edit{
    background-image: url(icon_edit.png);
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    width: 20px;
    height: 20px;
}

a.link_to_edit:hover{
    background-image: url(icon_edit_hover2.png);
}

a.list_name{
    background-image: url(icon_view.png);
    background-repeat: no-repeat;
    background-position: left 1px;
    padding: 0 0 0 25px;
    font-size: 16px;
}

a.list_name:hover{
    background-image: url(icon_view_hover.png);
}

a.list_back{
    background-image: url(icon_lists.png);
    background-repeat: no-repeat;
    background-position: left top;
    display: block;
    width: 20px;
    height: 20px;
}

a.list_back:hover{
    background-image: url(icon_lists_hover.png);
}
