<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.article %></td>
        <td><%= link_to image_tag("icon_edit.png"), edit_product_path(product) %></td>
        <td><%= link_to image_tag("icon_delete.png"), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Product', new_product_path, class: "button" %>
