<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.title %></td>
        <td><%= link_to image_tag("icon_edit.png"), edit_place_path(place) %></td>
        <td><%= link_to image_tag("icon_delete.png"), place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Shop', new_place_path, class: "button"%>
