<h1>Shops</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= place.title %></td>
        <td><%= link_to " ", edit_place_path(place), :title => "Edit Shop", :class => "link_to_edit"%></td>
        <td><%= link_to " ", place, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Delete Shop", :class => "link_to_del"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add New Shop', new_place_path, class: "button"%>
